@import url(https://fonts.googleapis.com/css?family=Nunito);

/*font*/
.font1{
	font-family:  Playfair Display;
}

.font2{
	font-family: roboto;
}


 /*NAVBAR*/

.logo {
	/*font-size: 47px;*/
	color : #EECB2D;
	font-size: 47px;
	font-style: bold;
	/*background-color: blue;*/
}

.home, .contact_us, .about{
	color: #362F29;
	font-size: 22px;
	/*font-size: 22px;*/
}

.search_box{
	border-radius: 30px 0px 0px 30px;
}

.button_box{
	border-radius: 0px 30px 30px 0px;	
}

/*home*/
.judul{
	font-size: 52px;
	letter-spacing: 5px;
	margin-top: 90px;
	line-height: 1.5;
	color:#362F29;
}

.sub-judul{
	letter-spacing: 2px;
	line-height: 2.8;
	color:#362F29;
}

.images>img{
	height:253px;
	/*width: 310px;*/
}

.sub_judul2{
	color : #EECB2D;
	margin-top: 100px;
	font-size: 40px;
	letter-spacing: 3;
	font-style: bold;
}

.semester{
	background-color: #F5F5F5;
	color:#EECB2D;
}